body {
    background-color:#E9E7D9 ;
  }

.site-logo {
    width: 150px;
}

.site-header{
    display:flex;
}


header {
    padding-top: 10px;
    padding-left:10px;

    width: 890px;
   /* border-bottom: 1px solid black;*/
   background: #819a48;
   font-size: 25px;
    color:white;
    font-family: "degular-mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    justify-content:space-around;
}

.site-header a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  .site-header a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }

  .site-header a:hover {
    color: rgb(73, 121, 70);
    background-color: transparent;
    text-decoration: none;
  }


.wrapper {
   /* border: 1px solid black ;
    border-radius: 2%;*/
    top: 200px;
   /* font-family: "akzidenz-grotesk-next-conden", sans-serif;*/

    background: #f5f4ed;
    height: 675px;
    width: 900px;
    overflow: auto;
    margin: 0 auto;
    font-family: "degular-mono", sans-serif;
font-weight: 300;
font-style: normal;
}

main {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 20px;


}

h1{
    font-size: 45px;
    text-align: center;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 1em;
    line-height: 3px;
}

.primary-statement {
  font-family: "degular-mono", sans-serif;
  font-size: 50px;
line-height: 45px;
padding-left: 15px;
padding-right: 15px;
padding-top: 30px;
padding-bottom: 25px;
margin: 0%;
}

.review-profile {
  display: grid;
  grid-template-columns: 150px 575px;
  column-gap: 15px;
  overflow: hidden;
  max-width:900px;
  border-radius: 15px;
  border: 2px solid #819a48;
  background-color:#f0f0e8 ;
  padding: 5px 20px 5px 20px;
  margin: 20px;

  }


.recent-reviews {
  display: grid;
  grid-template-columns:266px 266px 266px;
  column-gap: 15px;
  overflow: hidden;
  font-size: 14px;
  line-height: 15px;
  margin: auto 0px;
}

.showcase-item {
  text-align: center;
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}