body {
    background-color: rgb(73, 121, 70);
  }

.site-logo {
    width: 150px;
    padding-right: 30px;
}

.site-nav{
    display:flexbox;
}

.site-header{
    display:flex;
   
}


.wrapper {
    border: 1px solid black ;
    border-radius: 3%;
    top: 200px;
    font-family: "akzidenz-grotesk-next-conden", sans-serif;
    font-weight: 400;
    font-style: normal;
    background:rgb(255, 255, 255);
    height: 630px;
    width: 800px;
    overflow: auto;
    padding:20px;
    margin: 0 auto;
}

